.banner {
  background-image: url("../img/sports-img.jpg");
  height: 80vh;
  border-radius: 20px;
}

body {
  font-family: "Poppins", sans-serif;
}

#header {
  background: url("../img/sports-img.jpg") top/cover no-repeat;  
}
